@media (min-width: 1680px) {
  .mobile {
    display: none;
  }
  .content_mobile {
    display: none;
  }
  .content_notepad {
    display: none;
  }
  .baton_n, .baton_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_n {
    display: none;
  }
  .header_n {
    display: none;
  }
  .header_body_n {
    display: none;
  }
  .content_notepad {
    display: none;
  }
  .footer_n {
    display: none;
  }
  .footer_m {
    display: none;
  }
}
@media (max-width: 1680px) {
  .mobile {
    display: none;
  }
  .content_mobile {
    display: none;
  }
  .baton_n {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .content_notepad {
    display: none;
  }
  .footer_n {
    display: none;
  }
  .baton_m {
    display: none;
  }
  .footer_m {
    display: none;
  }
}
@media (max-width: 1440px) {
  .form-box, .form-box.box-inliner, .form-box.box-col, .content {
    display: none;
  }
  .content_mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .baton {
    display: none;
  }
  .content_notepad {
      max-width: 89.393vw;
      margin-left: 5vw;
      margin-right: 5vw;
      position: relative;
      display: block;
      height: 100%;
      top:6vw;
    }
    input:focus {
      outline: none;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      -webkit-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
       -moz-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
            box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
  }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      width: 60.095vw;
      height: 5.333vw;
      position: relative;
      display: block;
      margin: 1vw auto;
      /* border-radius: 0.238vw; */
      margin-bottom: 1vw;
      border: 0.060vw solid #ddd;
      padding: 0vw 0.952vw;
      font-size: 2vw;
      background: white;
      -webkit-appearance: none;
    }
    ::placeholder {
      font-family: 'Montserrat'
    }
    .form-box_n {
      width: 60.095vw;
      position: relative;
      display: flex;
      margin: 2vw auto;
      justify-content: space-between;
    }
    .form-box_n.biger_n p {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 2.5vw;
    }
    .form-box_n.biger_n {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 1vw;
    margin-top: 9vw;
    }
    .content_notepad h3 {
      width: 38.095vw;
      position: relative;
      display: block;
      margin: 0.595vw auto;
      margin-left: 14.5vw;
      font-size:2vw;
      margin-top: -1vw;
    }
    button {
      margin: 0 auto;
      display: block;
      line-height: 1.47059;
      font-weight: 400;
      letter-spacing: -.022em;
      font-family: 'Oswald';
      background-color: #0070c9;
      background: linear-gradient(#42a1ec,#0070c9);
      border: 0.060vw solid #07c;
      border-radius: 0.238vw;
      color: #fff;
      cursor: pointer;
      min-width: 1.786vw;
      padding: 0.238vw 0.893vw;
      text-align: center;
      white-space: nowrap;
    }
    hr {
      width: 100%;
      margin: 0.893vw auto;
      border: none;
      border-top: 0.060vw solid #ddd;
    }
    form {
      margin: 3.571vw auto;
    }
    .form-box_n p {
      width: auto;
      font-size: 2vw;
      display: inline-block;
      line-height: 2vw;
    }
    .box-inliner_n {
      display: block;
      margin-top: 2vw;
    }
    .box-inliner_n > * {
      display: inline-block;
      margin-right: 1.190vw;
    }
    .security-box_n input {
      margin-left: 1.5vw;
    }
    .security-box_n a {
      margin-left: 1.5vw;
    }
    .refresh_n {
      width: 20%;
      height: 20%;
      display: block;
      position: relative;
    }
    input.form-split_n {
      width: 18.452vw;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.833vw;
    }
    .box-col_n {
      flex-direction: column;
    }
    .form-box_n input[type=checkbox] {
      position: absolute;
      display: block;
      left: 0;
      transform: scale(2);
      top: 0.5vw;
    }
    .form-box_n.box-col_n label {
     font-size: 2vw;
     top: 0.5vw;
     position: relative;
     font-family: 'Montserrat';
     padding-left: 3.786vw;
     padding-bottom: 1vw;
     max-width: 100%;
     max-height: 100%;
     margin-left: 1vw;
    }
    .form-box_n.box-col_n span {
      font-size: 0.9vw;
      font-family: 'Montserrat';
      font-size: 1.5vw;
    }
    .box-inliner_n input {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      transform: scale(2);
      margin-right: 0.7vw;
    }
    .baton_n {
      position: relative;
      display: block;
      top:6vw;
      text-align: center;
    }
    .box-inliner_n label {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      font-size: 2vw
    }
    .security-box_n a {
      text-decoration: none;
      color: #aaa;
    }
    .form-box_n span {
      display: block;
      width: 100%;
      color: #aaa;
      font-size: 0.655vw;
    }
    .security-box_n input {
      width: 26.190vw;
    }
    .form-box_n.last_n p {
      text-align: center;
      font-size: 0.714vw;
      line-height: 1.33341;
      font-weight: 400;
      letter-spacing: -.01em;
      font-family: 'Montserrat';
      color: #666;
    }
    .first_n {
      width: 100%;
      display: block;
      position: relative;
      top:4vw;
      height: 7vw;
      margin-bottom: 6vw;
    }
    .square_n {
      width: 100%;
      display: block;
      position: relative;
      background-color: rgba(162, 42, 47, 1);
      height:9vw;
      padding-top: 1.3vw;
    }
    .square_n h1 {
      color: white;
      text-align: center;
      font-size: 6vw;
    }
    .footer {
      display: none;
    }
    .footer_n {
      display: block;
      position: relative;
      top:0;
      margin-top: 12vw;
      margin-left:5.3vw;
      margin-right:5.3vw;
      height: 5vw;
    }
    .footer_body_n {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-bottom: 3vw;
    }
    .footer_body_n a {
      text-decoration: none;
      color: black;
      font-family: 'Montserrat';
      font-weight: normal;
      font-size: 1.5vw;
    }
    .icons_n {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 6vw;
      margin-right: 11vw;
      align-items: flex-end;
      height: 100%;
      margin-left: 7vw;
    }
    .icons_n img {
      width: 80%;
      height: 80%;
      padding-left: 2vw;
    }
    .baton_m {
      display: none;
    }
    .footer_m {
      display: none;
    }
  }
@media (max-width: 1366px) {
  .mobile {
    display: none;
  }
  .content_mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .content_notepad {
      max-width: 89.393vw;
      margin-left: 5vw;
      margin-right: 5vw;
      position: relative;
      display: block;
      height: 100%;
      top:6vw;
    }
    input:focus {
      outline: none;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      -webkit-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
       -moz-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
            box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
  }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      width: 60.095vw;
      height: 5.333vw;
      position: relative;
      display: block;
      margin: 1vw auto;
      /* border-radius: 0.238vw; */
      margin-bottom: 1vw;
      border: 0.060vw solid #ddd;
      padding: 0vw 0.952vw;
      font-size: 2vw;
      background: white;
      -webkit-appearance: none;
    }
    ::placeholder {
      font-family: 'Montserrat'
    }
    .form-box_n {
      width: 60.095vw;
      position: relative;
      display: flex;
      margin: 2vw auto;
      justify-content: space-between;
    }
    .form-box_n.biger_n p {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 2.5vw;
    }
    .form-box_n.biger_n {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 1vw;
    margin-top: 9vw;
    }
    .content_notepad h3 {
      width: 38.095vw;
      position: relative;
      display: block;
      margin: 0.595vw auto;
      margin-left: 14.5vw;
      font-size:2vw;
      margin-top: -1vw;
    }
    button {
      margin: 0 auto;
      display: block;
      line-height: 1.47059;
      font-weight: 400;
      letter-spacing: -.022em;
      font-family: 'Oswald';
      background-color: #0070c9;
      background: linear-gradient(#42a1ec,#0070c9);
      border: 0.060vw solid #07c;
      border-radius: 0.238vw;
      color: #fff;
      cursor: pointer;
      min-width: 1.786vw;
      padding: 0.238vw 0.893vw;
      text-align: center;
      white-space: nowrap;
    }
    hr {
      width: 100%;
      margin: 1.9vw auto;
      border: none;
      border-top: 0.1vw solid #ddd;
    }
    form {
      margin: 3.571vw auto;
    }
    .form-box_n p {
      width: auto;
      font-size: 2vw;
      display: inline-block;
      line-height: 2vw;
    }
    .box-inliner_n {
      display: block;
      margin-top: 2vw;
    }
    .box-inliner_n > * {
      display: inline-block;
      margin-right: 1.190vw;
    }
    .security-box_n input {
      margin-left: 1.5vw;
    }
    .security-box_n a {
      margin-left: 1.5vw;
    }
    .refresh_n {
      width: 20%;
      height: 20%;
      display: block;
      position: relative;
    }
    input.form-split_n {
      width: 18.452vw;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.833vw;
    }
    .box-col_n {
      flex-direction: column;
    }
    .form-box_n input[type=checkbox] {
      position: absolute;
      display: block;
      left: 0;
      transform: scale(2);
      top: 0.5vw;
    }
    .form-box_n.box-col_n label {
     font-size: 2vw;
     top: 0.5vw;
     position: relative;
     font-family: 'Montserrat';
     padding-left: 3.786vw;
     padding-bottom: 1vw;
     max-width: 100%;
     max-height: 100%;
     margin-left: 1vw;
    }
    .form-box_n.box-col_n span {
      font-size: 0.9vw;
      font-family: 'Montserrat';
      font-size: 1.5vw;
    }
    .box-inliner_n input {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      transform: scale(2);
      margin-right: 0.7vw;
    }
    .baton_n {
      position: relative;
      display: block;
      top:6vw;
      text-align: center;
    }
    .box-inliner_n label {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      font-size: 2vw
    }
    .security-box_n a {
      text-decoration: none;
      color: #aaa;
    }
    .form-box_n span {
      display: block;
      width: 100%;
      color: #aaa;
      font-size: 0.655vw;
    }
    .security-box_n input {
      width: 26.190vw;
    }
    .form-box_n.last_n p {
      text-align: center;
      font-size: 0.714vw;
      line-height: 1.33341;
      font-weight: 400;
      letter-spacing: -.01em;
      font-family: 'Montserrat';
      color: #666;
    }
    .first_n {
      width: 100%;
      display: block;
      position: relative;
      top:4vw;
      height: 7vw;
      margin-bottom: 6vw;
    }
    .square_n {
      width: 100%;
      display: block;
      position: relative;
      background-color: rgba(162, 42, 47, 1);
      height:9vw;
      padding-top: 1.3vw;
    }
    .square_n h1 {
      color: white;
      text-align: center;
      font-size: 6vw;
    }
    .footer {
      display: none;
    }
    .footer_n {
      display: block;
      position: relative;
      top:0;
      margin-top: 12vw;
      margin-left:5.3vw;
      margin-right:5.3vw;
      height: 5vw;
    }
    .footer_body_n {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-bottom: 3vw;
    }
    .footer_body_n a {
      text-decoration: none;
      color: black;
      font-family: 'Montserrat';
      font-weight: normal;
      font-size: 1.5vw;
    }
    .icons_n {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 6vw;
      margin-right: 11vw;
      align-items: flex-end;
      height: 100%;
      margin-left: 7vw;
    }
    .icons_n img {
      width: 80%;
      height: 80%;
      padding-left: 2vw;
    }
    .baton_m {
      display: none;
    }
    .footer_m {
      display: none;
    }
  }
@media (max-width: 1280px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .baton_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .content_notepad {
      max-width: 89.393vw;
      margin-left: 5vw;
      margin-right: 5vw;
      position: relative;
      display: block;
      height: 100%;
      top:6vw;
    }
    input:focus {
      outline: none;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      -webkit-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
       -moz-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
            box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
  }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      width: 60.095vw;
      height: 5.333vw;
      position: relative;
      display: block;
      margin: 1vw auto;
      /* border-radius: 0.238vw; */
      margin-bottom: 1vw;
      border: 0.060vw solid #ddd;
      padding: 0vw 0.952vw;
      font-size: 2vw;
      background: white;
      -webkit-appearance: none;
    }
    ::placeholder {
      font-family: 'Montserrat'
    }
    .form-box_n {
      width: 60.095vw;
      position: relative;
      display: flex;
      margin: 2vw auto;
      justify-content: space-between;
    }
    .form-box_n.biger_n p {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 2.5vw;
    }
    .form-box_n.biger_n {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 1vw;
    margin-top: 9vw;
    }
    .content_notepad h3 {
      width: 38.095vw;
      position: relative;
      display: block;
      margin: 0.595vw auto;
      margin-left: 14.5vw;
      font-size:2vw;
      margin-top: -1vw;
    }
    button {
      margin: 0 auto;
      display: block;
      line-height: 1.47059;
      font-weight: 400;
      letter-spacing: -.022em;
      font-family: 'Oswald';
      background-color: #0070c9;
      background: linear-gradient(#42a1ec,#0070c9);
      border: 0.060vw solid #07c;
      border-radius: 0.238vw;
      color: #fff;
      cursor: pointer;
      min-width: 1.786vw;
      padding: 0.238vw 0.893vw;
      text-align: center;
      white-space: nowrap;
    }
    hr {
      width: 100%;
      margin: 1.9vw auto;
      border: none;
      border-top: 0.1vw solid #ddd;
    }
    form {
      margin: 3.571vw auto;
    }
    .form-box_n p {
      width: auto;
      font-size: 2vw;
      display: inline-block;
      line-height: 2vw;
    }
    .box-inliner_n {
      display: block;
      margin-top: 2vw;
    }
    .box-inliner_n > * {
      display: inline-block;
      margin-right: 1.190vw;
    }
    .security-box_n input {
      margin-left: 1.5vw;
    }
    .security-box_n a {
      margin-left: 1.5vw;
    }
    .refresh_n {
      width: 20%;
      height: 20%;
      display: block;
      position: relative;
    }
    input.form-split_n {
      width: 18.452vw;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.833vw;
    }
    .box-col_n {
      flex-direction: column;
    }
    .form-box_n input[type=checkbox] {
      position: absolute;
      display: block;
      left: 0;
      transform: scale(2);
      top: 0.5vw;
    }
    .form-box_n.box-col_n label {
      font-size: 2vw;
      top: 0.5vw;
      position: relative;
      font-family: 'Montserrat';
      padding-left: 3.786vw;
      padding-bottom: 1vw;
      max-width: 100%;
      max-height: 100%;
      margin-left: 1vw;
    }
    .form-box_n.box-col_n span {
      font-size: 0.9vw;
      font-family: 'Montserrat';
      font-size: 1.5vw;
    }
    .box-inliner_n input {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      transform: scale(2);
      margin-right: 0.7vw;
    }
    .baton_n {
      position: relative;
      display: block;
      top:6vw;
      text-align: center;
    }
    .box-inliner_n label {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      font-size: 2vw
    }
    .security-box_n a {
      text-decoration: none;
      color: #aaa;
    }
    .form-box_n span {
      display: block;
      width: 100%;
      color: #aaa;
      font-size: 0.655vw;
    }
    .security-box_n input {
      width: 26.190vw;
    }
    .form-box_n.last_n p {
      text-align: center;
      font-size: 0.714vw;
      line-height: 1.33341;
      font-weight: 400;
      letter-spacing: -.01em;
      font-family: 'Montserrat';
      color: #666;
    }
    .first_n {
      width: 100%;
      display: block;
      position: relative;
      top:4vw;
      height: 7vw;
      margin-bottom: 6vw;
    }
    .square_n {
      width: 100%;
      display: block;
      position: relative;
      background-color: rgba(162, 42, 47, 1);
      height:9vw;
      padding-top: 1.3vw;
    }
    .square_n h1 {
      color: white;
      text-align: center;
      font-size: 6vw;
    }
    .footer {
      display: none;
    }
    .footer_n {
      display: block;
      position: relative;
      top:0;
      margin-top: 12vw;
      margin-left:5.3vw;
      margin-right:5.3vw;
      height: 5vw;
    }
    .footer_body_n {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-bottom: 3vw;
    }
    .footer_body_n a {
      text-decoration: none;
      color: black;
      font-family: 'Montserrat';
      font-weight: normal;
      font-size: 1.5vw;
    }
    .icons_n {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 6vw;
      margin-right: 11vw;
      align-items: flex-end;
      height: 100%;
      margin-left: 7vw;
    }
    .icons_n img {
      width: 80%;
      height: 80%;
      padding-left: 2vw;
    }
    .baton_m {
      display: none;
    }
    .footer_m {
      display: none;
    }
  }
@media (max-width: 1024px) {
  .mobile {
    display: none;
  }
  .sticky_element_m {
    display: none;
  }
  .header_m {
    display: none;
  }
  .header_body_m {
    display: none;
  }
  .baton_m {
    display: none;
  }
  .header_menu_m {
    display: none;
  }
  .content_notepad {
      max-width: 89.393vw;
      margin-left: 5vw;
      margin-right: 5vw;
      position: relative;
      display: block;
      height: 100%;
      top:6vw;
    }
    input:focus {
      outline: none;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      -webkit-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
       -moz-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
            box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
  }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      width: 60.095vw;
      height: 5.333vw;
      position: relative;
      display: block;
      margin: 1vw auto;
      /* border-radius: 0.238vw; */
      margin-bottom: 1vw;
      border: 0.060vw solid #ddd;
      padding: 0vw 0.952vw;
      font-size: 2vw;
      background: white;
      -webkit-appearance: none;
    }
    ::placeholder {
      font-family: 'Montserrat'
    }
    .form-box_n {
      width: 60.095vw;
      position: relative;
      display: flex;
      margin: 2vw auto;
      justify-content: space-between;
    }
    .form-box_n.biger_n p {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 2.5vw;
    }
    .form-box_n.biger_n {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 1vw;
    margin-top: 9vw;
    }
    .content_notepad h3 {
      width: 38.095vw;
      position: relative;
      display: block;
      margin: 0.595vw auto;
      margin-left: 14.5vw;
      font-size:2vw;
      margin-top: -1vw;
    }
    button {
      margin: 0 auto;
      display: block;
      line-height: 1.47059;
      font-weight: 400;
      letter-spacing: -.022em;
      font-family: 'Oswald';
      background-color: #0070c9;
      background: linear-gradient(#42a1ec,#0070c9);
      border: 0.060vw solid #07c;
      border-radius: 0.238vw;
      color: #fff;
      cursor: pointer;
      min-width: 1.786vw;
      padding: 0.238vw 0.893vw;
      text-align: center;
      white-space: nowrap;
    }
    hr {
      width: 100%;
      margin: 0.893vw auto;
      border: none;
      border-top: 0.060vw solid #ddd;
    }
    form {
      margin: 3.571vw auto;
    }
    .form-box_n p {
      width: auto;
      font-size: 2vw;
      display: inline-block;
      line-height: 2vw;
    }
    .box-inliner_n {
      display: block;
      margin-top: 2vw;
    }
    .box-inliner_n > * {
      display: inline-block;
      margin-right: 1.190vw;
    }
    .security-box_n input {
      margin-left: 1.5vw;
    }
    .security-box_n a {
      margin-left: 1.5vw;
    }
    .refresh_n {
      width: 20%;
      height: 20%;
      display: block;
      position: relative;
    }
    input.form-split_n {
      width: 18.452vw;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.833vw;
    }
    .box-col_n {
      flex-direction: column;
    }
    .form-box_n input[type=checkbox] {
      position: absolute;
      display: block;
      left: 0;
      transform: scale(2);
      top: 0.5vw;
    }
    .form-box_n.box-col_n label {
      font-size: 2vw;
      top: 0.5vw;
      position: relative;
      font-family: 'Montserrat';
      padding-left: 3.786vw;
      padding-bottom: 1vw;
      max-width: 100%;
      max-height: 100%;
      margin-left: 1vw;
    }
    .form-box_n.box-col_n span {
      font-size: 0.9vw;
      font-family: 'Montserrat';
      font-size: 1.5vw;
    }
    .box-inliner_n input {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      transform: scale(2);
      margin-right: 0.7vw;
    }
    .baton_n {
      position: relative;
      display: block;
      top:6vw;
      text-align: center;
    }
    .box-inliner_n label {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      font-size: 2vw
    }
    .security-box_n a {
      text-decoration: none;
      color: #aaa;
    }
    .form-box_n span {
      display: block;
      width: 100%;
      color: #aaa;
      font-size: 0.655vw;
    }
    .security-box_n input {
      width: 26.190vw;
    }
    .form-box_n.last_n p {
      text-align: center;
      font-size: 0.714vw;
      line-height: 1.33341;
      font-weight: 400;
      letter-spacing: -.01em;
      font-family: 'Montserrat';
      color: #666;
    }
    .first_n {
      width: 100%;
      display: block;
      position: relative;
      top:4vw;
      height: 7vw;
      margin-bottom: 6vw;
    }
    .square_n {
      width: 100%;
      display: block;
      position: relative;
      background-color: rgba(162, 42, 47, 1);
      height:9vw;
      padding-top: 1.3vw;
    }
    .square_n h1 {
      color: white;
      text-align: center;
      font-size: 6vw;
    }
    .footer {
      display: none;
    }
    .footer_n {
      display: block;
      position: relative;
      top:0;
      margin-top: 12vw;
      margin-left:5.3vw;
      margin-right:5.3vw;
      height: 5vw;
    }
    .footer_body_n {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding-bottom: 3vw;
    }
    .footer_body_n a {
      text-decoration: none;
      color: black;
      font-family: 'Montserrat';
      font-weight: normal;
      font-size: 1.5vw;
    }
    .icons_n {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 6vw;
      margin-right: 11vw;
      align-items: flex-end;
      height: 100%;
      margin-left: 7vw;
    }
    .icons_n img {
      width: 80%;
      height: 80%;
      padding-left: 2vw;
    }
    .baton_m {
      display: none;
    }
    .footer_m {
      display: none;
    }
}
@media (max-width: 768px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  .baton_n {
    display: none;
  }
  .header {
    display: none;
  }
  .content_notepad {
    display: none;
  }
  .notepad {
    display: none;
  }
    input:focus {
      outline: none;
    }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      -webkit-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
       -moz-box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
            box-shadow: 0 0 0 0.1vw rgba(162, 42, 47, 1);
  }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=tel],
    select {
      width: 88.095vw;
      height: 10.333vw;
      position: relative;
      display: block;
      margin: 3vw auto;
      /* border-radius: 0.238vw; */
      margin-bottom: 1vw;
      border: 0.3vw solid rgba(162, 42, 47, 1);
      padding: 0vw 0.952vw;
      font-size: 3.2vw;
      background: white;
      -webkit-appearance: none;
    }
    ::placeholder {
      font-family: 'Montserrat'
    }
    .content_mobile {
        max-width: 89.393vw;
        margin-left: 5vw;
        margin-right: 5vw;
        position: relative;
        display: block;
        height: 100%;
        top:11vw;
      }
    .form-box_m {
      width: 88.095vw;
      position: relative;
      display: flex;
      margin: 2vw auto;
      justify-content: space-between;
    }
    .form-box_m.biger_m p {
    font-size: 4.1vw;
    margin-bottom: 1.7vw;
    line-height: 4.5vw;
    }
    .form-box_m.biger_m {
    font-size: 2.1vw;
    margin-bottom: 1.7vw;
    line-height: 1vw;
    margin-top: 9vw;
    }
    .content_mobile h3 {
      width: 38.095vw;
      position: relative;
      display: block;
      margin: 0.595vw auto;
      margin-left: 0.5vw;
      font-size:3.2vw;
      margin-top: -1vw;
    }
    button {
      margin: 0 auto;
      display: block;
      line-height: 1.47059;
      font-weight: 400;
      letter-spacing: -.022em;
      font-family: 'Oswald';
      background-color: #0070c9;
      background: linear-gradient(#42a1ec,#0070c9);
      border: 0.060vw solid #07c;
      border-radius: 0.238vw;
      color: #fff;
      cursor: pointer;
      min-width: 1.786vw;
      padding: 0.238vw 0.893vw;
      text-align: center;
      white-space: nowrap;
    }
    hr {
      width: 100%;
      margin: 2.5vw auto;
      border: none;
      border-top: 0.2vw solid #ddd;
    }
    form {
      margin: 3.571vw auto;
    }
    .form-box_m p {
      width: auto;
      font-size: 3.2vw;
      display: inline-block;
      line-height: 3.2vw;
    }
    .box-inliner_m {
      display: block;
      margin-top: 2vw;
    }
    .box-inliner_m > * {
      display: inline-block;
      margin-right: 1.190vw;
    }
    .security-box_m input {
      margin-left: 1.5vw;
    }
    .security-box_m a {
      margin-left: 1.5vw;
    }
    .refresh_m {
      width: 20%;
      height: 20%;
      display: block;
      position: relative;
    }
    input.form-split_m {
      width: 18.452vw;
      display: inline-block;
      margin: 0;
      margin-bottom: 0.833vw;
    }
    .box-col_m {
      flex-direction: column;
    }
    .form-box_m input[type=checkbox] {
      position: absolute;
      display: block;
      left: 0;
      transform: scale(1);
      top: 1vw;
    }
    .form-box_m.box-col_m label {
      font-size: 3.2vw;
      top: 0.5vw;
      position: relative;
      font-family: 'Montserrat';
      padding-left: 3.786vw;
      padding-bottom: 1vw;
      max-width: 100%;
      max-height: 100%;
      margin-left: 1vw;
    }
    .form-box_m.box-col_m span {
      font-family: 'Montserrat';
      font-size: 2.3vw;
      margin-top: 0.4vw;
    }
    .box-inliner_m input {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      transform: scale(1);
      margin-right: 0.7vw;
    }
    .baton_m {
      position: relative;
      display: block;
      top:13vw;
      text-align: center;
    }
    .box-inliner_m label {
      margin-top: 0.5vw;
      font-family: 'Montserrat';
      font-size: 3.2vw;
    }
    .security-box_m a {
      text-decoration: none;
      color: #aaa;
    }
    .form-box_m span {
      display: block;
      width: 100%;
      color: #aaa;
      font-size: 0.655vw;
    }
    .security-box_m input {
      width: 26.190vw;
    }
    .form-box_m.last_m p {
      text-align: center;
      font-size: 0.714vw;
      line-height: 1.33341;
      font-weight: 400;
      letter-spacing: -.01em;
      font-family: 'Montserrat';
      color: #666;
    }
    .first_m {
      width: 100%;
      display: block;
      position: relative;
      top:4vw;
      height: 7vw;
      margin-bottom: 15vw;
    }
    .square_m {
      width: 100%;
      display: block;
      position: relative;
      background-color: rgba(162, 42, 47, 1);
      height:14vw;
      padding-top: 2.6vw;
    }
    .square_m h1 {
      color: white;
      text-align: center;
      font-size: 8vw;
    }
  .header_m {
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 50;
  }
  .header_m:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
  }
  .header_body_m {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 10.1vw;
    align-items: flex-end;
    margin-left:6vw;
    margin-right:6vw;
    margin-top: 0.4vw;
    margin-bottom: 5vw;
  }
  .header_logo_m {
    display: none;
  }
  .header_logo_2_m {
    flex: 0 0 50vw;
    top: 1.9vw;
    z-index: 3;
    position: relative;
  }
  .header_logo_m img {
    max-width: 100%;
  }
  .header_logo_2_m img {
    max-width: 100%;
  }
  .header_burger_m {
    display: block;
    position: relative;
    width: 14vw;
    height: 6vw;
    z-index: 3;
  }
  .header_burger_m span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 0.6vw;
    top: 2.6vw;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before,
  .header_burger_m:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 0.6vw;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger_m:before {
    top:0;
  }
  .header_burger_m:after {
    bottom: 0;
  }
  .flex_menu_1_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    text-align: left;
  }
  .upper_menu_m li {
    font-weight: 500;
    font-size: 11vw;
  }
  #marg {
    margin-bottom: 5vw;
  }
  .header_contact_m a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2vw;
  }
  .lower_menu_m li {
    margin-bottom: 1vw;
  }
  .lower_m {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 5vw;
  }
  .flex_menu_2_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    margin-top:4vw;
    text-align: left;
  }
  .flex_menu_3_m {
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    flex-direction: column;
    margin-top:4vw;
    text-align: left;
  }
  .header_contact_m {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 87.393vw;
    text-align: center;
    left:0;
    right: 0;
    margin-left: 6vw;
    margin-top: 10vw;
  }
  .header_menu_m {
    display: block;
    position: fixed;
    top:-100%;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: rgba(162, 42, 47, 1);
    padding: 15vw 0 0 0;
  }
  .header_menu_m.active {
    top:0;
  }
  .header_list_m {
    display: flex;
    position: relative;
    z-index: 2;
    max-width: 87.393vw;
    justify-content: space-between;
    flex-direction: column;
    left:0;
    right: 0;
    align-items: left;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 8vw;
  }
  .header_list_m li {
    list-style: none;
    }
  .header_link_m {
    text-decoration: none;
    color: white;
  }
  .header_link_m.lower {
    color: rgba(196, 196, 196, 1)
  }
  .header_m_menu.active {
    top:0;
  }
  .header_burger_m.active span {
    transform: scale(0);
  }
  .header_burger_m.active:before {
    transform: rotate(45deg);
    top: 2.7vw;
  }
  .header_burger_m.active:after {
    transform: rotate(-45deg);
    bottom: 2.7vw;
  }
  .footer_m {
    display: block;
    position: relative;
    top:17vw;
    margin-top: 3vw;
    margin-left:5.3vw;
    margin-right:5.3vw;
    height: 5vw;
  }
  .footer_container_m {
    position: relative;
    width: 100%;
    top:0;
    left:0;
    height: 5vw;
  }
  .footer_body_m {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 3vw;
  }
  .footer_body_m a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 2vw;
  }
  .icons_m {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 7.7vw;
    margin-right: 11vw;
    align-items: flex-end;
    height: 100%;
    margin-left: 7vw;
  }
  .icons_m img {
    width: 80%;
    height: 80%;
    padding-left: 2vw;
  }
  .footer_n {
    display: none;
  }
}
@media (max-width: 320px) {
  .first_slide, .second_slide, .third_slide, .fourth_slide, .fifth_slide, .sixth_slide, .seventh_slide, .eight_slide {
    display: none;
  }
  .box-inliner_m input {
    margin-top: 0.5vw;
    font-family: 'Montserrat';
    transform: scale(1);
    margin-right: 0vw;
  }
  .form-box_m input[type=checkbox] {
    position: absolute;
    display: block;
    left: 0;
    transform: scale(1);
    top: 1vw;
}
}
